/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}

/* Encabezado */
header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: auto;
}

nav .btn {
    background-color: hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 32px;
    border-radius: 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: #66ff4b;
}

/* Portada */
.portada {
    display: flex;
    justify-content: space-around;
    background-image: url('https://i.postimg.cc/zGH281gM/16113051144409.jpg');
    background-size: cover;
    background-position: center;
    width: 100%; /* Ocupa el mismo ancho que el encabezado */
    height: 800px;
}

#productosVenta {
    display: flex;
    margin-top: auto; /* Mover los productos hacia abajo */
    justify-content: center; /* Centrar horizontalmente */
}

.portada a {
    text-decoration: none;
}

.portada img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 10px;
    transition: transform 0.3s;
}

.portada img:hover {
    transform: scale(1.7);
    border: 2px solid #66ff4b;
}

/* Secciones */
section {
    padding: 20px;
}

/* Otros estilos específicos según tus necesidades */
