/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', 'Roboto';
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0%;
    background: #000000 50%;
    color: rgb(255, 255, 255);
}





/* CABECERA */

/* Portada */
.portada {
    background-image: url('https://i.postimg.cc/zGH281gM/16113051144409.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Fondo pagina WEB */
header .menu{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.529);
}

/* Contenedor de logos del encabezado */
.logo2 {
    display: flex;
    justify-content: center;
    width: 120%;
    height: auto;
    margin: 0.5%;
}

/* Logos del encabezado */
.logo1 img {
    margin-left: 100%;
    padding: 5%;
    width: 70%;
    height: auto;
}

.logo2 img {
    margin-right: 100%;
    width: 80%;
    height: auto;
}

/* Icono que remplaza los botones para movil */
#desplegable {
    display: none;
}

/* Contenedor de botones de direccionamientos a los contenedores de contacto, productos y redes sociales */
.menu_movil {
    width: 600%;
}

/* Botones */
.menu_ordenador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* botones de direccionamientos a los contenedores */
.boton {
    background-color: rgba(0, 0, 0, 0.519);
    transition: all 0.8s;
    color: white;
    border: none;
    padding: 0.5% 1%;
    margin: 0 0.5%;
    cursor: pointer;
    font-size: 100%;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 1); /* Agrega una sombra */
}

/* hover de los botones */
.boton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 3); /* Agrega una sombra */
}




/* CONTENEDOR DE PRODUCTOS */

.pro {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* titulo */
.titulo {
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 40.0);
    font-size: 300%;
}

/* contenedor de los productos del catalogo */
#productosVenta {
    width: 90%;
}

/* imagenes de los productos del catalogo */
#productosVenta img{
    width: 27%;
    height: auto;
    margin: 3%;
    transition: all 0.3s;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}

/* hover imagenes de los productos del catalogo */
#productosVenta img:hover {
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
    transform: scale(1.6);
    transform-origin: center center;
}




/* INFORMACION DE CADA PRODUCTO */

/* titulo */
#productos .titulo {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 40.0);
    font-size: 300%;
}

/* Contenedor de todos los productos*/
.cajasProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(33%,1fr));
    width: 90%;
    margin: 5%;
}

/* Contenedor de cada uno de los productos */
.cajasProductos div {
    background-color: #1b1b1b;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
    padding: 4%;
    margin: 2% 18% 20% 0%;
    border: 0.1px solid rgba(255, 255, 255, 0.449);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagen de todos los producto */
.cajasProductos img {
    max-width: 80%;
    max-height: 80%;
    border: 1px solid white;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* Hover de todas las imagenes de los producto */
.cajasProductos img:hover {
    transform: rotateY(180deg); /* Realiza la rotación horizontal al pasar el mouse */
    transition: all 2s;
}

/* Estilo de los textos de cada producto */
.cajasProductos div p{
    padding: 4%;
}




/* CARRUSEL DE IMAGENES */

/* Tmaño del contenedor */
#carouselExampleIndicators {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    width: 70%;
    padding: 5%;
}

.carousel-inner img{
    border: 5px solid rgba(194, 194, 194, 0.515)!important;
    box-shadow: 20px 20px 40px rgba(255, 255, 255, 0.2) !important;
}




/* CONTACTO */

/* estilos de la informacion del contacto */
#contacto {
    background-color: rgb(41, 41, 41);
    padding: 2%;
}

#contacto img{
    width: 25px;
    height: auto;
    vertical-align: -4px;
}





/* REDES SOCIALES */

/* estilos de la informacion de las redes sociales */
#redes-sociales {
    background-color: #4b4747;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    text-align: center;
    padding: 5%;
}

/* imagenes de la informacion de las redes sociales */
#redes-sociales img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

/* estilo del ancla para la red social */
#redes-sociales a{
    text-decoration: none;
}





/* ESTILO PARA MOVILES */

@media (max-width: 768px) {

    .boton {
        background-color: hsl(0, 0%, 100%);
        color: rgb(0, 0, 0);
        border: none;
        padding: 1% 2%;
        margin: 0 0.5%;
        cursor: pointer;
        font-size: 50%;
        border-radius: 25%;
        text-decoration: none;
        box-shadow: 0px 2px 4px rgba(255, 255, 255, 1); /* Agrega una sombra */
    }

    .logo img {
        width: 25px;
        height: auto;
        margin: 10%;
    }

    .logo {
        display: none; /* Ocultar todos los logos */
    }

    .logo:first-child,
    .logo:last-child {
        display: block; /* Mostrar solo el primer y último logo */
    }

    .menu_movil {
        display: flex;
        justify-content: center;
    }

    #desplegable{
        background: initial;
        display: block;
        width: 15%;
    }

    .menu_movil button {
        background-color: none;
        border-radius: 25%;
        border: none;
        color: none;
    }

    .menu_ordenador {
        display: none;
    }

    header nav a {
        background-color: hsl(0, 0%, 100%);
        color: rgb(0, 0, 0);
        border: none;
        padding: 2px 4px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 25px;
        text-decoration: none;
    }

    #productosVenta img{
        width: 28%;
        height: auto;
        margin: 2.3%;
        transition: all 0.3s;
        border-radius: 50%;
    }

    #productosVenta .titulo{
        font-size: 200%;
    }

    #productos .titulo {
        font-size: 200%;
        margin: 5%;
    }

    .cajasProductos {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        width: 100%;
    }

    section {
        padding: none; /* Reducción del padding en dispositivos móviles */
        margin: none; /* Reducción del margen vertical en dispositivos móviles */
    }

}

/* Otros estilos específicos según tus necesidades */
